.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 25px;
  padding-right: 25px;
}

.HeaderWrapper {
  background-color: #c8b8f5;
  padding: 5px;
}

.Header nav a {
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin: 0 5px;
}

.LogoutButton {
  border-radius: 10px;
  background-color: #e1faeb;
  border-color: #e1faeb;
}

.LoginButton {
  border-radius: 10px;
  background-color: #e1faeb;
  border-color: #e1faeb;
}
