.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 25px;
  padding-right: 25px;
}

.HeaderWrapper {
  border-bottom: 1px solid green;
  padding: 5px;
}

.Header nav a {
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin: 0 5px;
}
